
.projects-page{

    background-color: rgba(200,200,200,0.9);
}
.projects-heading{
    text-align: end;

    font-size: 3rem;
    font-family: 'Jockey One', sans-serif;
    color:white;
    letter-spacing: 1.2rem;
   
}

.projects-p{
    font-size: 4.3rem;
    color:rgba(110, 96, 96, 0.9)
}

.projects-cont{
    width:90%;
}



 .projects-display{
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.project-details p{
    word-spacing: 0.5rem;
}

@media(max-width:768px){


.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid white;
}

.project-front{
  
    width:100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-details{
    color:white;
    text-align: center;
    font-family: 'Special Elite', cursive;
}


.project-yelpcamp .project-front{
            
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 58, 0.8),
        rgba(70, 70, 70, 0.7)
      ),
      url(../images/picit.png)
    }
    
    
    .project-beatword .project-front{
                
        background-image:linear-gradient(
            115deg,
            rgba(58, 58, 58, 0.8),
            rgba(70, 70, 70, 0.7)
          ),
          url(../images/beatword.png);
        
    }
        
        
        
    .project-todo .project-front{
                
        background-image:linear-gradient(
            115deg,
            rgba(58, 58, 58, 0.8),
            rgba(70, 70, 70, 0.7)
          ),
          url(../images/todo.png);
        
    }
        .project-details h2{
            margin-top: 10px;
        }
        
        
    .project-patatap .project-front{
                
        background-image:linear-gradient(
            115deg,
            rgba(58, 58, 58, 0.8),
            rgba(70, 70, 70, 0.7)
          ),
          url(../images/patatap.png);
        
    }
        .project-details h2{
            margin-top: 10px;
        }
        
    .project-details p{
        font-size: 1.1rem;
  
    }

        .project-details hr{
            display: none;
        }


        .project-details .links{
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }
        .project-details .links a{
            color:white;
            font-size: 1.2rem;
            text-decoration: none;
            padding:10px;
            border:2px solid white;
            border-radius:1.1rem;
            
        }
        
        .project-details .links a:hover{
            color:rgb(66, 117, 226);
            border-color: rgb(66, 117, 226);
        }




        .project-front-heading{
            display: none;
        }
        }

@media(min-width: 768px){


.project{
    margin: 2rem;
    width:40%;
    width:500px;
    height: 600px;
  
    box-sizing: content-box;
    transform-style: preserve-3d;
    perspective: 20000px;
    transition: 2s;
 
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
}


.project .project-front{
    color:white;


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left:0;
    
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 2s;
}

.project-yelpcamp .project-front{
            
background-image: linear-gradient(
    115deg,
    rgba(58, 58, 58, 0.8),
    rgba(70, 70, 70, 0.7)
  ),
  url(../images/picit.png);
}


.project-beatword .project-front{
            
    background-image:linear-gradient(
        115deg,
        rgba(58, 58, 58, 0.8),
        rgba(70, 70, 70, 0.7)
      ),
      url(../images/beatword.png);
    
}
    
.project-todo .project-front{
                
    background-image:linear-gradient(
        115deg,
        rgba(58, 58, 58, 0.8),
        rgba(70, 70, 70, 0.7)
      ),
      url(../images/todo.png);
    
}
    .project-details h2{
        margin-top: 10px;
    }
    
    
.project-patatap .project-front{
            
    background-image:linear-gradient(
        115deg,
        rgba(58, 58, 58, 0.8),
        rgba(70, 70, 70, 0.7)
      ),
      url(../images/patatap.png);
    
}

.project-front-heading{

    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
    font-weight: bolder;
    color:white;
    top:50%;
    position: absolute;
    font-family: 'Concert One', cursive;
    left: 50%;
    transform: translate(-50%,50%);
}


.project:hover .project-front{
    transform: rotateX(-180deg);
}

.project .project-back{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 2s;
    text-align: center;
    color:white;

}


.project:hover .project-back{
    transform: rotateX(0deg);
}

.project-details{
    width: 100%;
    height: 100%;

    font-family: 'Special Elite', cursive;
    padding:30px;
}


.project-details hr{
    height: 1px;
    background-color:white;
    margin-top: 4px;
    
    
}

.project-details h2{
    font-family: 'Special Elite', cursive;
}

.project-details p{
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left:30px;
    padding-right: 30px;
    line-height: 2rem;
    font-size: 1.2rem;
}

.project-details .links{
    display: flex;
    justify-content: space-evenly;
}
.project-details .links a{
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
    padding:10px;
    border:2px solid white;
    border-radius:1.1rem;
    
}

.project-details .links a:hover{
    color:rgb(66, 117, 226);
    border-color: rgb(66, 117, 226);
}
}